
// Bootstrap Breakboints
$bp-bootstrap-sm: 576px;
$bp-bootstrap-md: 768px;
$bp-bootstrap-lg: 992px;
$bp-bootstrap-xl: 1200px;
$bp-bootstrap-xxl: 1400px;

/*
* mobile: 300px : $bp-bootstrap-md (use $bp-bootstrap-sm if needed)
* tablet: $bp-bootstrap-md >=
* desktop: $bp-bootstrap-xxl >= 
*/

