@import "../../../../shared/styles/shared/index";
@import "../../../../shared/styles/components/buttons.scss";
@import "../../../../shared/styles/components/icons-buttons.scss";

.users-list {
  padding: 10px;
}

.user-details-menu {
  transition: 150ms linear;
  transition-delay: 0;
  width: toRem(300);
  background-color: #f5f5f5;
  padding: toRem(15);
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 0 0 5px 0px rgba(0, 0, 0, 0.2);
  height: 508px;

  .user-details {
    position: sticky;
    right: 6%;
    top: 0%;
    width: 227px;
    padding: 15px;
  }

  .close-btn {
    margin-bottom: toRem(25);

    i {
      transform: rotateZ(45deg);
    }
  }

  img {
    border-radius: 50%;
    margin-bottom: toRem(14);
  }

  .user-name {
    font-size: toRem(25);
    color: $gray;
  }

  .buttons-wrapper {
    button {
      max-width: toRem(100);
      width: toRem(100);
      padding-block: toRem(9);
      padding-inline: auto;
      min-width: toRem(100);

      i {
        margin-inline-end: toRem(5);
      }
    }
  }
}

.user-details-menu.close {
  width: toRem(0);
  content-visibility: auto;
}

.app-btn {
  max-width: 300px;
}

.loding {
  font-size: toRem(12);

  img {
    width: toRem(30);
    height: toRem(30);
  }
}

table {
  border-radius: 10px;
  // border-bottom: 1px solid #ddd;
  border-collapse: separate !important;
  margin: 0;
  padding: 0;
  width: 100%;
  table-layout: fixed;
  box-shadow: 0 0 5px 0px rgba(0, 0, 0, 0.2);

  td .user-data {
    img {
      border-radius: 50%;
      margin-inline-end: toRem(10);
    }

    .user-name {
      font-size: toRem(15);
      color: $gray;
      font-weight: 400;
    }
  }

  td .icon-btn:not(:first-child) {
    margin-inline-start: toRem(15);
  }
}

table caption {
  font-size: 1.5em;
  margin: 0.5em 0 0.75em;
}

table th,
table td {
  // background-color: #f8f8f8;
  border-bottom: 1px solid #dedede;
  padding: 0.35em;
}

tr:last-child td,
table th {
  border-bottom: 0px;
}

table th,
table td {
  padding: 0.625em;
  text-align: center;
}

table th {
  font-size: 0.85em;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

@media screen and (max-width: 600px) {
  table {
    border: 0;
  }

  table caption {
    font-size: 1.3em;
  }

  table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }

  table tr {
    border-bottom: 3px solid #dedede;
    display: block;
    margin-bottom: 0.625em;
  }

  table td {
    border-bottom: 1px solid #dedede;
    display: block;
    text-align: right;
  }

  table td::before {
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }

  table td:last-child {
    border-bottom: 0;
  }
}
