<div class="navbar-wrapper">
    <nav class="navbar navbar-expand-lg navbar-light container-fluid">
        <div class="app-container">
            <a href="#" class="navbar-brand">
                <img src="../../../../../assets/images/Logo.svg" alt="app-logo" class="img-fluid" />
            </a>
            <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarCollapse">
                <div class="navbar-nav">
                    <a routerLink="/home" routerLinkActive="active" #homeLink="routerLinkActive" class="nav-item nav-link active font-regular">Home</a>
                    <a routerLink="/about" routerLinkActive="active" #aboutLink="routerLinkActive" class="nav-item nav-link font-regular">About</a>
                    <a routerLink="/contact" routerLinkActive="active" #contactLink="routerLinkActive" class="nav-item nav-link font-regular">Contact</a>
                    <a routerLink="/login" routerLinkActive="active" #loginLink="routerLinkActive" class="nav-item nav-link font-regular main-btn">Login</a>
                </div>
            </div>
        </div>
    </nav>
</div>